<div class="wrapper">
  <h1>Bowling App</h1>
  <div class="container">

    <div class="frames row">
      <div *ngFor="let frame of frames; let i = index" [class.col-sm-offset-1]="i==0" class="frame col-sm-1">
        <div class="row head" [class.played]="i < currentFrame">
          <span class="col-sm-12">{{i+1}}</span>
        </div>
        <div *ngIf="!frame.lastFrame" class="score row">
          <span class="col-sm-6">
            <span *ngIf="!frame.isStrike">
              {{frame.score[0] === 0 ? '-' : frame.score[0]}}
            </span>
          </span>
          <span class="bordered col-sm-6">
            <span *ngIf="!frame.isStrike && !frame.isSpare">
              {{frame.score[1] === 0 ? '-' : frame.score[1]}}
            </span>
            <span *ngIf="frame.isStrike">X</span>
            <span *ngIf="frame.isSpare">/</span>
          </span>
        </div>
        <div *ngIf="frame.lastFrame" class="score row">
          <span class="bordered col-sm-4">
            <span>{{frame.score[0]}}</span>
          </span>
          <span class="bordered col-sm-4">
            <span>{{frame.score[1]}}</span>
          </span>
          <span class="bordered col-sm-4">
            <span>{{frame.score[2]}}</span>
          </span>
        </div>
        
        <div class="total">
          <span class="col-sm-12">{{frame.total}}</span>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="pins col-sm-10 col-sm-offset-1">
        <div *ngFor="let pin of pins; let i=index" 
          [class.hit]="hitPin(pin)" class="pin">{{pin}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 game-over">
        *** Total score: {{getTotal() || 0}} ***
      </div>
      <div class="col-sm-10 col-sm-offset-1 balls">
        <h4>Roll a ball:</h4>
        <div *ngFor="let ball of balls; let i=index" class="col-sm-1">
          <button class="btn" (click)="roll(ball)">{{ball}}</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 footer">            
        <div class="row">
          <button class="btn" (click)="startNewGame()">Start new game</button>
        </div>
      </div>
    </div>
  </div>
</div>